:root {
    --bg-color: hsl(211.7 96.4% 78.4%);
    --primary-color: #fafafa;
    --btn-color: hsl(224.4, 64.3%, 32.9%);
    --foot-color: #374151;
}

* {
    margin: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

body{
    background-color: var(--foot-color);
    font-family: 'Courier New', Courier, monospace;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.arena {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 10%;
    height: auto;
    max-width: 150px;
}

.float {
    align-items: center;
    justify-content: center;
    margin: 4% auto;
    padding: 40px;
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: var(--bg-color);
    border-radius: 20px;
}

.leftS {
    display: grid;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.qr-form {
    background-color: var(--primary-color);
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 40px 30px;
    margin: 0 auto;
    place-items: center;
}

h1 {
    text-align: center;
    font-size: 16px;
}

.text {
    display: flex;
    align-items: start;
    margin: 0;
    font-size: 14px;
}

input {
    width: 100%;
    border-radius: 6px;
    padding: 0.7rem 0.5rem;
    border: 1px solid #d1d5db;
    font-size: 14px;
}

canvas{
    border: 2px solid var(--primary-color);
    width: 50%;
    aspect-ratio: 1;
    border-radius: 0.25rem;
    display: block;
    margin: 0 auto;
}
canvas.show{
    visibility: visible;
}

.qr-btn {
    padding: 0.7rem 0.5rem;
    width: 100%;
    font-size: 14px;
    border-radius: 6px;
    background-color: var(--btn-color);
    color: #fff;
    border: 1px solid var(--foot-color);
}

.rightS {
    width: 100%;
    box-sizing: border-box;
    color: var(--primary-color);
    text-align: justify;
    margin: 0 auto;
}

footer {
    text-align: center;
    font-size: 12px;
    color: var(--primary-color);
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
}

@media Screen and (min-width: 30rem){
   body{
    height: min-content;
    border-radius: 1rem;
    position: absolute;
    inset: 0;
    margin: auto;
   }
}